@import './default.scss';
@import './fun.scss';
@import './iconfont.scss';

.btn {
  color: $button-text !important;
  background-color: $button-bg !important;
}
.btn:hover {
  color: $button-text !important;
  background-color: $button-hover !important;
}