@font-face {
  font-family: "iconfont"; /* Project id 2746241 */
  src: url('//at.alicdn.com/t/font_2746241_lub02c83di.woff2?t=1631784385496') format('woff2'),
       url('//at.alicdn.com/t/font_2746241_lub02c83di.woff?t=1631784385496') format('woff'),
       url('//at.alicdn.com/t/font_2746241_lub02c83di.ttf?t=1631784385496') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-system:before {
  content: "\e601";
}

.icon-jiaoseguanli:before {
  content: "\e61d";
}

.icon-rizhi:before {
  content: "\e76d";
}

.icon-yonghuguanli:before {
  content: "\e622";
}

.icon-qq:before {
  content: "\e6b2";
}

.icon-weixin:before {
  content: "\e63c";
}

.icon-GitHub:before {
  content: "\e8c6";
}

.icon-arrow-prev:before {
  content: "\e600";
}

.icon-shijian:before {
  content: "\e610";
}

