@font-face {
  font-family: "iconfont"; /* Project id 2746241 */
  src: url('//at.alicdn.com/t/font_2746241_fjegfg4qp7n.woff2?t=1629214368642') format('woff2'),
       url('//at.alicdn.com/t/font_2746241_fjegfg4qp7n.woff?t=1629214368642') format('woff'),
       url('//at.alicdn.com/t/font_2746241_fjegfg4qp7n.ttf?t=1629214368642') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e6b2";
}

.icon-weixin:before {
  content: "\e63c";
}

.icon-GitHub:before {
  content: "\e8c6";
}

.icon-arrow-prev:before {
  content: "\e600";
}

.icon-shijian:before {
  content: "\e610";
}

